<div class="app-sidebar__overlay js-app-sidebar">
  <aside class="app-sidebar__content">
    <ul class="app-sidebar__nav-list">
      <li class="app-sidebar__nav-list-item">
        <button
          class="js-terms-btn"
          type="button"
          aria-label="Abrir Termos e condições"
        >
          Termos e condições
        </button>
      </li>
      <li class="app-sidebar__nav-list-item">
        <button
          class="js-privacy-policy-btn"
          type="button"
          aria-label="Abrir Política de Privacidade"
        >
          Política de Privacidade
        </button>
      </li>
    </ul>
  </aside>
</div>
