<div class="app-modal__overlay js-app-modal">
  <div class="app-modal__modal">
    <button
      class="app-modal__close-btn js-close-modal-btn"
      type="button"
      aria-label="Close modal"
    >
      {{> svg-icon class='app-modal__close-btn-icon
      app-modal__close-btn-icon--small' width="20" height="20"
      name='chevron-left' }} {{> svg-icon class='app-modal__close-btn-icon
      app-modal__close-btn-icon--large' width="20" height="20" name='cross' }}
    </button>
    <div class="app-modal__content js-app-modal-content"></div>
  </div>
</div>
