<section class="bonuses-section js-bonuses-section">
  <picture class="bonuses-section__bonus-img bonuses-section__bonus-img--first">
    <source
      type="image/webp"
      srcset="/img/bonus-1.webp 90w, /img/bonus-1@2x.webp 180w"
      sizes="90px"
    />
    <source
      type="image/png"
      srcset="/img/bonus-1.png 90w, /img/bonus-1@2x.png 180w"
      sizes="90px"
    />
    <img
      src="/img/bonus-1.png"
      width="90"
      height="90"
      alt="Bônus R$ 4000"
      loading="lazy"
    />
  </picture>
  <picture
    class="bonuses-section__bonus-img bonuses-section__bonus-img--second"
  >
    <source
      type="image/webp"
      srcset="/img/bonus-2.webp 90w, /img/bonus-2@2x.webp 180w"
      sizes="90px"
    />
    <source
      type="image/png"
      srcset="/img/bonus-2.png 90w, /img/bonus-2@2x.png 180w"
      sizes="90px"
    />
    <img
      src="/img/bonus-2.png"
      width="90"
      height="90"
      alt="250 Giros Grátis"
      loading="lazy"
    />
  </picture>
</section>
