<main class="main container">
  <a
    class="main__logo-link"
    href="https://mayan.bet/"
    target="_blank"
    rel="nofollow noopener noreferrer"
    aria-label="Mayan.bet"
  >
    {{> svg-icon class='main__logo' width="138" height="27" name='logo' }}
  </a>
  {{> bonuses-section}}
  <div class="main__wheel-wrapper">
    {{> wheel }}
    <div class="main__wheel-neon-frame"></div>
  </div>
  <button
    class="main__cta-btn js-spin-wheel-btn"
    type="button"
    aria-label="Girar"
  >
    <span class="main__cta-btn-content">Girar</span>
  </button>
  <div class="main__bottom-decor"></div>
  <div class="main__girl-1-decor"></div>
  <div class="main__girl-2-decor"></div>
  <div class="main__coin-1-decor"></div>
  <div class="main__coin-2-decor"></div>
  <div class="main__slot-decor"></div>
</main>
